.grid__wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8,1fr);
  /* width: 100vw;
  height: 100vh; */
}
.grid__item {
  height: calc(100vh/8 - 10px);
  border: 0.2px solid white;
}
.auth-container, .actions-container {
  display: none;
}